.download__container {
    text-align : center;
    display: flex;
    padding: 50px 200px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: var(--yellow-yellow, #F8F5E0);
    color: var(--main-grey-grey, #4F4F4F);
}

.download__images {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    align-self: stretch;
}

.download__title {
    font-size: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: -0.6px;
}

.download__contents {
    font-size: 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.6px;
}